/* ######### Marker List Vertical Menu ######### */

.markermenu{
width: 212px; /*width of side bar menu*/
clear: left;
position: relative; /*Preserve this for "right" arrow images (added by script) to be positioned correctly*/

}

.markermenu ul{
list-style-type: none;
margin: 5px 0;
padding: 5;

}


.markermenu ul li a{

font: normal 12px Arial, Helvetica, sans-serif;
color: #58585A;
display: block;
width: auto;
padding: 6px 0;
padding-left: 20px;
text-decoration: none;
border-bottom: 1px solid #e9eaec;
}

.markermenu ul li ul{
background:#00CC00;
}

.markermenu ul li ul li a{
background:#00CC00;
}

* html .markermenu ul li a{ /*IE6 hack*/
width: 155px;
}

.markermenu ul li a:visited, .markermenu ul li a:active{
color: #58585A;
}

.markermenu ul li a:hover, .markermenu ul li a.selected{
color: white;
background-color: #666666;
}

/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */

.blackwhite li a{
background: #666666;
}

.blackwhite li a:hover{
background: black;
color: white;
}